<div class="transaction-item">

    <div class="icon-wrapper">
        @if (amount() > 0) {
            <img [src]="replenishmentIcon" alt="Transaction icon" />
        }

        @if (amount() < 0){
            <img [src]="writeOffIcon" alt="Transaction icon" />
        }

    </div>

    <div class="info-wrapper">
        <span class="type-label bold-text">
            {{ amount() > 0 ? 'Пополнение' : 'Списание' }}
        </span>
        <span class="description">{{ description() }}</span>
        <span class="date">{{ date() | date:'dd.MM.yyyy, HH:mm' }}</span>
    </div>

    <div class="amount-wrapper" [class.positive]="amount() > 0" [class.negative]="amount() < 0">
        {{ amount() > 0 ? '+' : '' }}{{ amount() | number:'1.2-2' }}
    </div>
</div>