<div class="flex bg-gray-100 p-1 rounded-xl w-fit">
  @for (lang of options(); track lang) {
    <button
      type="button"
      (click)="select.emit(lang)"
      [class.bg-white]="active() === lang"
      [class.shadow-sm]="active() === lang"
      [class.text-blue-600]="active() === lang"
      class="px-4 py-1.5 rounded-lg text-xs font-bold transition-all uppercase hover:text-blue-500"
    >
      {{ lang }}

      @if (errorOptions().includes(lang)) {
        <span class="absolute -top-1 -right-1 flex h-3 w-3">
          <span
            class="animate-ping absolute inline-flex h-full w-full rounded-full bg-red-400 opacity-75"
          ></span>
          <span class="relative inline-flex rounded-full h-3 w-3 bg-red-500"></span>
        </span>
      }
    </button>
  }
</div>
