<div class="relative min-w-[200px]">
  <input
    type="text"
    [ngModel]="searchQuery()"
    (ngModelChange)="searchQuery.set($event)"
    (focus)="isOpened.set(true)"
    [placeholder]="placeholder()"
    class="w-full bg-gray-50 border border-gray-200 text-gray-700 text-sm rounded-lg focus:ring-2 focus:ring-blue-500 p-2 outline-none shadow-sm"
    autoFocus
  />

  @if (isOpened() && filteredOptions().length > 0) {
    <div
      class="absolute z-50 w-full mt-1 bg-white border border-gray-200 rounded-lg shadow-xl max-h-60 overflow-y-auto"
    >
      @for (item of filteredOptions(); track item.id) {
        <button
          type="button"
          (click)="selectOption(item)"
          class="w-full text-left px-3 py-2 hover:bg-blue-50 transition-colors border-b border-gray-50 last:border-none text-sm text-gray-700 flex items-center gap-2"
        >
          @if (colorKey(); as cKey) {
            <div
              class="w-3 h-3 rounded-full border border-gray-200 shadow-sm flex-shrink-0"
              [style.backgroundColor]="item[cKey]"
            ></div>
          }

          <span class="truncate">{{ item[labelKey()] }}</span>
        </button>
      }
    </div>
  }
</div>
