<div class="transactions-container">

  <div class="header-inside">

    <span class="list-name">Транзакции</span>

    @if (showFilterButton() == true) {

    <button class="filter-button" (click)="openFilters()">
      <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
        stroke-linecap="round" stroke-linejoin="round">
        <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon>
      </svg>
    </button>
    
    }

  </div>

  @for (transaction of currentTransactions(); track $index) {
  <app-transactions-list-item
    [amount]="transaction.amount"
    [date]="transaction.date"
    [description]="transaction.description"
    class="transaction-item" />
  }

</div>