@if (isOpen()) {
  <div class="dropdown-content">
    <div class="user-info-section">
      <div class="user-details">
        <h1 class="user-name">{{ userName() }}</h1>
        <p class="user-title">{{ userTitle() }}</p>
      </div>
      <a routerLink="/profile" class="nav-icon" (click)="onCloseClick()" aria-label="View profile">
        <app-chevron-right-icon />
      </a>
    </div>
    
    <div class="transactions-section">
      <app-transactions-list></app-transactions-list>
    </div>

    <div class="logout-divider"></div>
    <div class="logout-section" (click)="logout()">
        <i class="bi bi-box-arrow-right me-2"></i> 
        <span>Выйти из системы</span>
    </div>

  </div>
}